<%- include ('./template/cabecera', {titulow: 'Inicio'}); %> <!--Es un include de cabecera.ejs que tiene el head se llama 
    como un ruta relativa-->


    <h1 align= "center">Página Dinámica</h1>
    <h2 align= "center"> <%= titulo %> </h2> <!--Llama el comentario json que aparece en app.js llamado titulo-->



<%- include ('./template/footer'); %> <!--Es un include de footer.ejs que tiene el head se llama 
    como un ruta relativa-->