<%- include ('./template/cabecera', {titulow:'usuarios'}); %> 




<h1 align="center">Página Usuarios</h1>
<h2><%= titulos%></h2>
<div class="container">
<form action="#">
    id : <input text>
    Nombre: <input text>
</form>
</div>
<%- include ('./template/footer'); %> 