<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" REL="StyleSheet"> <!--Se llama la carpeta public desde app.js desde dirname public
    css bootstrap.css tiene una ruta absoluta es decir no tiene ./css/bootstrap.css (con punto es ruta relativa)-->
    <title>P치ginas Din치micas <%= titulow %> </title>  <!--convertir titulo en un objeto para poderlo usar en las otras paginas-->
</head>
<body class="bg-dark text-white" > <!--Se quitan todos los body de las otras p치ginas-->


    <%- include ("navbar") %> <!--Se incluye el navbar.ejs que es el menu de navegaci칩n a todas las paginas  -->