<nav class="navbar navbar-expand-md navbar-dark bg-dark"> <!--Se cambio el tamaño y color-->
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tienda La Genérica</a> <!--Se cambio el nombre a Tienda Generica-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>  <!--Se cambio el nombre Inicio-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/productos">Productos</a> <!--Se cambio el nombre Productos-->
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios">Usuarios</a> <!--Se cambio el nombre Usuarios-->
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/clientes">Clientes</a> <!--Se cambio el nombre Clientes-->
        </li>
        
         <!-- <li class="nav-item">
            <a class="nav-link" href="/productoskekekeke">404</a>
          </li>--> 
          
         
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>